<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        bootstrap="./vendor/autoload.php"
        colors="true"
        columns="max"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./tests/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="zend.enable_gc" value="0"/>
        <server name="KERNEL_CLASS" value="Signer\Kernel" />
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="xxxx"/>
        <env name="KEYSERVICE_DIR" value="%kernel.project_dir%/tests/data/signing-keys"/>
        <env name="JWK_JSON" value='{"kid":"nHb9SPdujpSiWqUZ95T_bHRQ_tghQokyXS4RTo5_daI","use":"sig","kty":"EC","crv":"P-256","x":"xcxqm_RqIt3LsBGtggB7AtIzmKufs2KAS_KkVUueAjM","y":"YA3ZyMM6F10BvF9Q6pm4zd_cwFCuwVFQo7Vddi97JA4","d":"-h7ESUbdNZa5kpO9Ox2C95akpjzUNGfQmFgs2WA2GsY"}'/>
        <env name="WORKSPACE" value="%kernel.cache_dir%/signer" />

    </php>
</phpunit>